.sy_page.dgxx_b {background:#fff;}
.sy_cont.dgxx_b {background:#fff;}
.sy_cont.zsgwpo {position:relative;}

.lxzsj_fanh{position:fixed; top:0; left:0;width:94%; height:30px; padding:25px 3%; background:#fff; text-align:center; line-height:30px; color:#666; font-size:2em; z-index:33;}
.sy_cont.dpgl_sy_cont {padding-bottom:81px;}
.lxzsj_fa_z {width:16px; height:30px; position:absolute; left:3%; top:25px;}
.lxzsj_fa_z img {max-height:100%;}
.lxzsj_fa_z a{width:100%;height:100%;display:block;text-decoration:none;}
.lxzsj_fa_y {width:30px; height:30px; position:absolute; right:3%; top:25px;}
.lxzsj_fa_y img {max-height:100%;}
.lxzsj_fa_y a{width:100%;height:100%;display:block;text-decoration:none;}

.dpxx_beij {width:100%;height:250px;overflow:hidden;float:left;background:url(../images/dpglbj.jpg) no-repeat; background-size:cover; background-position:center;position:relative;}


.mar {margin-top:108px;}


.dpxx_row {width:100%;height:70px;float:left; text-align:center; position:relative;}
.dpxx_logo {width:150px;height:150px;position:absolute;top:-100%;left:50%;border-radius:100%; margin-left:-75px;-moz-border-radius:100%;-webkit-border-radius:100%;overflow:hidden;z-index:4;}
.dpxx_logo img {max-width:100%;max-height:100%;}
.dpxx {width:100%;height:100%;position:absolute;left:0;top:0;overflow:hidden;}
.dpxx_hei {position:absolute;width:100%;height:100%;background:url(../images/dpxx_zx.png) no-repeat;left:0;top:0;background-size:cover; background-position:center;}
.dpxx_hei.dpxx_hei2 {background:url(../images/dpxx_bj.png);}
.dpxx_bao {position:absolute;width:100%;height:100%;left:0;top:0;}

.dgxx_zxp {width:22px;height:22px;position:absolute;right:2%;bottom:4%;overflow:hidden;}
.dgxx_zxp img {max-width:100%;}
/**/
.dgxx_tou {display:block;width:100%;height:100%;opacity:0;position:absolute;left:0;top:0;cursor:pointer;}

/*管理按钮*/
.wzsg_an {width:96%;height:38px;position:fixed;bottom:6px;left:2%;background:#000; text-align:center; line-height:38px;color:#fff; font-size:0.8em;}
/**/
.wcw_hon {width:96%;height:auto;float:left;margin-left:2%; background:#fff; }
.wcw_hon.wow_ba {background:none;}
.wcw_hon .z_k {width:96%;height:auto;float:left;padding-left:2%; overflow:hidden;}
.wcw_lo {color:#666666;text-align:left; float:left;border-bottom:1px solid #cccccc;padding:20px 0;width:100%;float:left; font-size:0.8em;position:relative;}
.wcw_lo.bonone {border:0;}
.wcw_lo.wow_lin {line-height:20px;}

.wcw_lo.paddingl {padding:0;padding-bottom:15px;}
.wcw_lo .wcw_th1 {width:auto;height:100%;float:left; text-align:left;}
.wcw_lo .wcw_th1.wcw_color {color:#666;}
.wcw_lo .wcw_th1.wcw_color2 {color:#cccccc;}
.wcw_lo span {width:7px;height:13px;background:#666666;float:left; margin-right:5px;}
.wcw_lo .inp_w {width:100%;height:auto;float:left;color:#cccccc; text-align:left;}
.wcw_lo .inp_w.sever {width:50%;}
.wcw_lo .wcw_yzq {width:144px;height:28px;position:absolute;top:50%;right:2%;margin-top:-14px; border:1px solid #bdbcbc; line-height:28px; text-align:center;color:#000000;border-radius:30px;overflow:hidden;}
.wcw_lo .wcw_yz {width:100%;height:100%;float:left;}
.wcw_lo .wcw_th1.wcw_color3 {    color: #666;
    font-size: 12px;
    white-space: nowrap;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden; }
.wcw_lo .dagou {width:17px;height:17px;float:right;overflow:hidden;position:relative;}
.wcw_lo .dagou .poo {float:left;}
.wcw_lo .dagou .dagou_k {position:absolute;top:0;left:0;background:#f0f0f0;width:100%;height:100%;}
.wcw_lo .dagou .dagou_k.sever {background:url(../images/dagou.jpg)no-repeat;}
.mar2 {padding-bottom:110px;}
@media   (max-width :414px) {

.lxzsj_fanh{ height:20px; padding:12px 3%; line-height:20px; font-size:1em;}
.lxzsj_fa_z { height:20px;  top:12px;}
.lxzsj_fa_y { height:20px;  top:13px;}
.mar {margin-top:52px;}
.sy_cont.dpgl_sy_cont {padding-bottom:45px;}
.dpxx_beij {height:138px;}
.mar2 {padding-bottom:55px;}
.dpxx_logo {width:100px;height:100px;top:-80%;margin-left:-50px;}

}




